*{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}
header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
header h1{
    margin: 15px;
    color: #5f687b;
    font-size: 30px;
    font-weight: 700;
}
header button{
    height: 30px;
    width: 90px;
    border-radius: 28px;
    position: absolute;
    right: 60px;
    border: none;
    background-color: #10bc69;
    color: #ffffff;
}
header i{
    position: absolute;
    right: 30px;
}


section {
    height: 800px;  
}
section h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px
}
section h2{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}
section .content{
    width: 425px;
    color: #5f687b;
    margin-top: 210px;
    margin-left: 100px;
    
}
section button{
    height: 45px;
    width: 135px;
    border-radius: 28px;
    border: none;
    background-color: #10bc69;
    color: #ffffff;
    margin-left: 100px;
    font-size: 15px;
    font-weight: 400;
}
section a{
    text-decoration: none;
    color: black;
    margin-left: 50px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
}
section i{
    position: absolute;
    left: 10px;
}
section .image img{
    max-width: 40%;
    height: auto;
    position: absolute;
    right: 90px;
    top: 200px;
    transition: 0.2s;
    animation: floatUpDown 3s ease-in-out infinite;
}
@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

section .card{
    margin-top: 200px;
}
section .card .card-content{
    width: 500px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 30px 85px;
}
section .card .card-content .lorem, .sed, .magni{
    background-color: #10bc69;
    height: 300px;
    width: 294px;
    margin-right: 30px;
    background-color: #4444440a;
    position: relative;
}
section .card .card-content .lorem i{
    position: absolute;
    font-size: 50px;
}
section .card .card-content .magni  i{
    position: absolute;
    font-size: 50px;
}