*{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}
header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1)
}
header h1{
    margin: 15px;
    color: #5f687b;
    font-size: 30px;
    font-weight: 700;
}
header button{
    height: 30px;
    width: 90px;
    border-radius: 28px;
    position: absolute;
    right: 60px;
    border: none;
    background-color: #10bc69;
    color: #ffffff;
}
header i{
    position: absolute;
    right: 30px;
}


section {
    height: 800px;  
}
.one h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px
}
.one h2{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}
.one .content{
    width: 425px;
    color: #5f687b;
    margin-top: 210px;
    margin-left: 100px;
    
}
.one button{
    height: 45px;
    width: 135px;
    border-radius: 28px;
    border: none;
    background-color: #10bc69;
    color: #ffffff;
    margin-left: 100px;
    font-size: 15px;
    font-weight: 400;
}
.one a{
    text-decoration: none;
    color: black;
    margin-left: 50px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
}
.one i{
    position: absolute;
    left: 10px;
}
.one .image img{
    max-width: 40%;
    height: auto;
    position: absolute;
    right: 90px;
    top: 200px;
    animation: UpDown 3s ease-in-out infinite;
}
@keyframes UpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.one .card{
    margin-top: 200px;
}
.one .card .card-content{
    width: 500px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 30px 85px;
}
.one a{
    position: relative;
    margin-left: 80px;
}
.one a img{
    position: absolute;
    height: 50px;
    left: -50px;
    top: -19px;
}
.one .card .card-content .lorem, .sed, .magni{
    height: 300px;
    width: 294px;
    margin-right: 30px;
    background-color: #4444440a;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.one .card .card-content img{
    height: 50px;
    margin-bottom: 30px;
}
.one .card .card-content .lorem, .sed, .magni h3{
    color:#5f687b;
}
.one .card .card-content .lorem p{
    font-size: 13px;
}
.one .card .card-content .sed p{
    font-size: 13px;
}
.one .card .card-content .magni p{
    font-size: 13px;
}
.one .card .card-content > div{
    transition:0.3s;
    top:-10px;
}


.about{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about h1{
    font-size: 32px;
    color: #5f687b;
}
.about-heading{
    font-size: 32px;
    color: #5f687b;
}
